/*D3 Styles*/
.node circle {
	cursor: pointer;
	stroke: #38A5C9;
	stroke-width: 0px;
	opacity: 0.8;
}

.nodeText {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 2.0em;
	color: #fff;
	fill: #fff;
	pointer-events: none;
	text-anchor: middle;
}

.link {
	fill: none;
	stroke: #38A5C9;
	stroke-width: 1px;
}

marker#base {
  fill: #38A5C9;
}
marker#art {
  fill: #37DA68;
}
marker#software {
  fill: #FFA240;
}
marker#statistics {
  fill: #FF5A40;
}

.maintext{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.0em;
	color: #fff;
	fill: #fff;
	pointer-events: none;
	text-anchor: middle;	
}
text.anchortext{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.0em;
	color: #555;
	fill: #555;
	pointer-events: none;
	text-anchor: start;	
}
text.anchortexthover{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 1.0em;
	color: #FFF;
	fill: #FFF;
	pointer-events: none;
	text-anchor: start;	
}
text.anchortext2{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.0em;
	color: #555;
	fill: #555;
	pointer-events: none;
	text-anchor: middle;	
}
text.anchortext2hover{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.0em;
	color: #fff;
	fill: #fff;
	pointer-events: none;
	text-anchor: middle;	
}


/* #graphHistoryD3 line{
	color: #FFF;
	fill: #FFF;
	stroke: #FFF;
} */
#graphHistoryD3 line.anchorline{
	color: #555;
	fill: #555;
	stroke: #555;
}
#graphHistoryD3 line.anchorlinehover{
	color: #FFF;
	fill: #FFF;
	stroke: #FFF;
}
#graphHistoryD3 line.workline{
	color: #777;
	fill: #777;
	stroke: #777;
}
#graphHistoryD3 line.learnline{
	color: #CCC;
	fill: #CCC;
	stroke: #CCC;
}
#graphHistoryD3 path.bottomline{
	color: #FFF;
	fill: none;
	stroke: #FFF;
	stroke-width:2;
}

.skills-image{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.0em;
	color: #fff;
	fill: #fff;
	pointer-events: none;
	text-anchor: middle;
	z-index: 999;
}
.skills-circle{
	cursor: pointer;
	stroke-width: 2px;
}

#graph-skills-desc{
	font-family: 'Roboto', sans-serif;
	/* font-size: 0.75em;
	font-weight: 600;
	line-height: 0.5em; */
	color: #555;
	fill: #555;
	pointer-events: none;
}
